h1 {
  text-align: center;
}
 body {
   background-color: grey;
 }
.App {
  text-align: center;
  background-color: #d387d3;
  align-items: center;
  justify-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d387d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  padding: 5px 20px;
  align-content: center;
  justify-content: center;
}

.wrapper fieldset {
  margin: 20px 0;
  border-radius: 10px;
}

.button {
  color: #61dafb;
  border-radius: 60px;
  background-color: blue;
  align-content: center;
}